@page "/"

<PageTitle>Home</PageTitle>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlazorApp</title>
</head>

<body>
    <h1>Guspassos App, Seja bem vindo!!</h1>

    <h2>Aplicação desenvolvida em Blazor gu.dev.</h2>

    Nesta pagina inicial iremos apenas fazer uma breve apresentacao
</body>

</html>
