@page "/sobre"

<PageTitle>Sobre</PageTitle>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
</head>

<body>
    <h1>Area destinada para informacoes Sobre a pagina</h1>

    <h2>Aplicação desenvolvida em Blazor gu.dev.</h2>

    Nesta pagina inicial iremos apenas fazer uma breve apresentacao
</body>

</html>
